# This rule is not used by the project kepler-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the kepler.system.sustainable.computing.io.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: kepler-editor-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: kepler-operator
    app.kubernetes.io/part-of: kepler-operator
    app.kubernetes.io/managed-by: kustomize
  name: kepler-editor-role
rules:
- apiGroups:
  - kepler.system.sustainable.computing.io
  resources:
  - keplers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kepler.system.sustainable.computing.io
  resources:
  - keplers/status
  verbs:
  - get
